#register{
    position: relative;
    height: 400px;
    padding-right: 0px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    background-shadow: 0px 1px 1px rgb(238, 238, 238);
    border: 3px solid rgb(248,248,248);
}

#register .register-title{
    color: rgb(51,51,51);
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    font-family: "Microsoft YaHei";
    padding-left: 10px;
}

#register ul{
    margin: 0 auto;
}

#register li{
    font-size: 14px;
    list-style: none;
    margin: 0 0 4px 0;
}

#register label{
    float: left;
    margin: 4px 6px 0 0;
    text-align: right;
    width: 160px;
}

#register input,textarea,button{
    display: inline-block;
    height: 20px;
    width: 198px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#register textarea{
    height: 60px;
}

#register button{
    padding: 4px 12px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-
}

#user, #password1, #nickname.thingking{
    background-position: 202px -19px;
}


#user, #password1, #password2, #nickname.error{
    background-position: 202px -52px;
    background-color: #FF8282;
}

#user, #password2, #nickname.correct{
    background-position:202px -35px; 
}

#user, #password1, #password2, #nickname{
	background: url("../image/status.gif") 202px 0 no-repeat;
}
