.body {
	background-color: white;
}
.content {
	width: 1000px;
}
.content-title {
	padding: 5px 0px 5px 20px;
	border-bottom: 1px solid #ccc;
}
.tag-tree h3 {
	clear: both;
}
.tag-list {
	overflow: hidden;
}
.tag-list li {
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
.tag-list li a {
	padding: 4px 8px;
	border: 1px solid #ccc;
	display: block;
}
.tag-list li a:hover {
	color: #aaa;
	border: 1px solid #aaa;
}